.table-of-contents{
    position: fixed;
}

.scrollspy{
    padding-left: 65px;
    box-sizing: border-box;
}
.c3-line-data1,
.c3-line-data2 {
    stroke-width: 5px;
  }

  h4{
    font-family: 'Tajawal', sans-serif;
  }
  h6{
      margin-bottom: 50px;
  }
div.metaData{
    h5{
        font-family: 'Tajawal', sans-serif;
        display: inline-block;
        text-align: center;
    }
}

section.section{
    margin-bottom: 75px;
}